<hr>
<a href="/"><button type="button">BACK</button></a>
<br>
<a href="/employee_create"><button type="button">CREATE EMPLOYEE</button></a>
<br>
<a href="/employee_list"><button type="button">EMPLOYEE LIST</button></a>
<br>
<a href="/employee_update"><button type="button">UPDATE EMPLOYEE</button></a>
<br>
<a href="/employee_delete"><button type="button">DELETE EMPLOYEE</button></a>
<hr>