<form action ="/login" method="POST">
    <h1>ASTROSERVICE LOGIN</h1>
    <br>
    <hr>
    <label for="username">Username</label>
    <br>
    <input type="username" name="username" placeholder="Masukkan Username">
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="****">
    <br>
    <button type="submit">SUBMIT</button>
</form>