    <h1>ASTRO-SERVICE</h1>
    <hr>
    <br>
    <a href="/login"><button type="button">LOGIN</button></a>
    <br>
    <a href="/employee"><button type="button">EMPLOYEE MANAGEMENT</button></a>
    <br>
    <a href="/store"><button type="button">STORE MANAGEMENT</button></a>