<hr>
<a href="/"><button type="button">BACK</button></a>
<br>
<a href="/store_create"><button type="button">CREATE STORE</button></a>
<br>
<a href="/store_list"><button type="button">STORE LIST</button></a>
<br>
<a href="/store_update"><button type="button">UPDATE STORE</button></a>
<br>
<a href="/store_delete"><button type="button">DELETE STORE</button></a>
<hr>